
.Chapter_title {
    margin: 10px 15px 0;
    font-weight: bold;
    text-align: center;
}

.Chapter_loading {
    margin: 20px 40px;
}

.Chapter_home,
.Chapter_next,
.Chapter_prev {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #eee;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.verse {
    display: flex;
    margin-bottom: 10px;
    text-indent: 15px;
    width: 200%;
    line-height: 2.5;
    position: relative;
    box-sizing: border-box;
}

.verse div {
    flex: 1;
    text-align: justify;
    padding: 0 10px;
}

.verse .english {
    color: #ddd;
    position: relative;
    left: -50%;
    top: 20px;
    transition: .3s;
    text-align: justify;
    margin-left: 0px;
}

.verse.show_english .english {
    color: #888;
}

.home, .prev, .next {
    text-decoration: none;
    font-family: sans-serif;
    padding: 10px 20px;
    display: inline-block;
    color: #777;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.next-bottom,
.prev-bottom {
    margin-top: 20px;
}

.home-top,
.prev-top {
    float: left;
}
.next {
    float: right;
}

h1 {
    font-family: sans-serif;
    clear: both;
    margin: 20px 20px 10px;
    padding-top: 20px;
}

.prev:active, .next:active,
.prev:hover, .next:hover {
    background-color: #ccc;
}
