
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.App {
    overflow: hidden;
    max-width: 400px;
    margin: 0px auto;
    overflow: hidden;
}

.Home_title {
    padding: 10px 20px;
    font-weight: bold;
    border-bottom: 2px solid #B1AEFF;
}

ul,
.BookList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.BookListing_title {
    cursor: pointer;
    padding: 10px 20px;
    color: rgb(82, 82, 82);
    font-weight: bold;
    border-bottom: 1px solid rgb(202, 202, 255);
}

.BookListing_chapter {
    display: block;
    margin-left: 25px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: #555;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 2px 5px black;
}

.BookListing_chapter:hover {
    background-color: #eee;
}

